h1{
    font-style:italic; 
    
}
h1{
 font-family: monospace;
    text-decoration-color: aqua;
    color:blue
    
    
}
tr {
    color: blueviolet;
    
  
}

th{
    background-color: beige;
}